@font-face {
  font-family: 'Spline Sans Mono';
  src: url('../fonts/SplineSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Road UA';
  src: url('../fonts/RoadUA-Regular.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Road UA';
  src: url('../fonts/RoadUA-Bold.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'HelveticaNowForPANYNJ';
  src: url('../fonts/HelveticaNowForPANYNJ-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowForPANYNJ';
  src: url('../fonts/HelveticaNowForPANYNJ-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: 'Road UA', sans-serif;
}

.flex-container {
  display: flex;
  height: 100vh;
}

#desktop-sidebar {
  height: 100vh;
  width: 200px;
  padding: 20px;
}

#home-link {
  margin-top: 20px;
}

.home-nav a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #333;
  font-weight: bold;
}

.home-nav a:hover {
  background-color: #e28b8b;
}



.home-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.home-nav a {
  display: block;
  margin-bottom: 20px;
  margin-left: -5px;
  text-decoration: none;
  color: #333;

}

.project-list p {
  margin: 8px 0;
  color: #555;
}

.project-list li {
  list-style-type: none;
  /* Remove bullets */
  padding: 5px;
}

.project-list a {
  display: block;
  padding: 5px;
  margin-left: -10px;
  margin-top: -10px;
  text-decoration: none;
  color: #333;
}

.project-list a:hover {
  background-color: #e28b8b;
}

.contact {
  padding : 5px;
}

.main {
  flex-grow: 1;
  padding: 40px;
  background-color: #ffffff;

}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 700px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
