.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* full height of the viewport */
}

/* Sidebar menu */
.sidenav {
  height: auto;
  width: 160px;
  position: fixed;
  /* fixed sidebar stays in place on scroll */
  z-index: 1;
  /* ensures sidebar is on top of other content */
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  /* light background for sidebar */
  overflow-x: hidden;
  /* prevents horizontal scroll */
  padding-top: 20px;
  /* space at the top */
  padding-bottom: 20px;
}

/* Navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  /* padding for links */
  text-decoration: none;
  /* no underline */
  font-size: 16px;
  display: block;
  font-family: 'HelveticaNYSemiBold', sans-serif;
  /* custom font */
  color: #000;
  /* text color */
}

.sidenav a:hover {
  color: #00528d;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;

  font-family: 'RoadUA', sans-serif;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Custom Fonts */
@font-face {
  font-family: 'HelveticaNY';
  src: url('fonts/HelveticaNowforPANYNJ.ttf') format("truetype");
}

@font-face {
  font-family: 'HelveticaNYSemiBold';
  font-weight: "SemiBold";
  src: url('fonts/HelveticaNowforPANYNJSmBd.ttf') format("truetype");
}

@font-face {
  font-family: "RoadUA";
  font-weight: "Regular";
  src: url('fonts/RoadUA-Regular.otf') format("opentype");
}
