:root {
  /*easier to modify later */
  --sidebar-width: 200px;
}
.flex-container {
  display: flex;
  height: 100vh;
  /* full height of the viewport */
}

/* Sidebar menu */
.sidenav {
  height: 100%;
    width: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b2d7fc;
  overflow-x: hidden;
  padding-top: 200px;
  padding-bottom: 20px;

}

/* Navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  /* padding for links */
  text-decoration: none;
  /* no underline */
  font-size: 20px;
  display: block;
  font-family: 'RoadUA', sans-serif;
    font-weight: bold;
  /* custom font */
  color: #000;
  /* text color */
}

.sidenav a:hover {
  color: #00528d;
}

.main {
  margin-left: var(--sidebar-width);
  font-family: 'RoadUA', sans-serif;
  font-weight: regular;
    flex: 1;

display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Custom Fonts */
@font-face {
  font-family: 'HelveticaNY';
  src: url('../fonts/HelveticaNowforPANYNJ.ttf') format("truetype");
}

@font-face {
  font-family: 'HelveticaNYSemiBold';
  font-weight: "SemiBold";
  src: url('../fonts/HelveticaNowforPANYNJSmBd.ttf') format("truetype");
}

@font-face {
  font-family: "RoadUA";
  font-weight: regular;
  src: url('../fonts/RoadUA-Regular.otf') format("opentype");
}

@font-face {
  font-family: "RoadUA";
  font-weight: bold;
  src: url('../fonts/RoadUA-Bold.otf') format("opentype");
}
